
.Results{

    width: 100%;
}

/*
.Results ul{
    list-style: none;
    padding: 0;
}

.Results ul li{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.Results ul li img{
    width: 40px;
    margin: 0;
}


.Results ul li h1{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
    display: inline-block;
}

.Results ul li .percent{
    margin: 0;
    font-size: 2em;
}

.Results ul li h2{
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
}
*/

.Results .warning{
    padding: 4px;
    background-color: bisque;
}





#print{
    font-family: 'Open Sans', sans-serif;
}

#print h1{
    width:100%;
    text-align: center;
    font-size: 3em;
}
#print .table{
        width:100%;
        margin-top:50px;
        margin-bottom:50px;
        border-collapse: collapse;
}
#print .underline {
    border-bottom: 5px solid black;
    
}

#print .logo {
    /*width: 384px;*/
    width: calc(100vw - 30px);/*todo better*/
}
#print .percentage {
    text-align:right;
    position:relative;
    bottom: 20px;
    right: 65px;
    font-size: 30px;
    font-weight: bold;
    width: 110px
}

#print .footer {
    display: block;
    width: 100%;
    font-size: 2em;
}


#print .footer canvas {

    display: block;
    width: 100vw!important;
    height: 100vw!important;
    margin-bottom: 70px;
}
