
.Processing .percent{
    display: inline-block;
    z-index: 200;
    font-size: 1.5em;
  
}

/*
.Processing .abort{
    position: fixed;
    z-index: 200;
    left: 50vw;
    bottom: 0;
    transform: translate(-50%,0);
}
*/