body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

button:hover, .button:hover, input[type="submit"]:hover {
    background-color: #37beff;
}
button, .button, input[type="submit"] {
    display: inline-block;
    border: none;
    padding: 0 10px;
    margin: 2px;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    /*background-color: #0098ff;*/
    color: white;
    cursor: pointer;
}

.green{
    background-color: #3fe02a!important;
}
.red{
    background-color: #cc0606!important;
}
.blue{
    background-color: #0098ff!important;
}

.App{

    width: 100%;
}

select{
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    background-color: white;
    color: black;
    cursor: pointer;
}


.toolbar-top{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    border: 1px solod red;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    color: black;
}
.toolbar-bottom{
    z-index: 200;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    background-color: white;
    border: 1px solod red;
    text-align: center;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
    color: black;
}

.fullscreen-image{
    z-index: 100;
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 0;
    right:0;

    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    
  
}