.Camera{
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: black;
}

.Camera .real{
  z-index: 10;
  /*visibility: hidden; */
}
/*.Camera .mock{
  z-index: 10;
  visibility: visible;  
}*/

.Camera .overlay{
  z-index: 20;
  visibility: visible;  
}

.Camera .snap-click-overlay{
  z-index: 40;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

.Camera .snap-effect{
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  pointer-events: none;
  animation-name: snap-effect;
  animation-duration: .2s;
}
@keyframes snap-effect {
  from {background-color: white;}
  to {background-color: transparent;}
}


.Camera .screen video,
.Camera .screen img,
.Camera .screen canvas{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.Camera .screen canvas{
    visibility: visible;
}

/*==================================================*/

/*
.Camera .overlay .cover{
  z-index: 40;
  position: fixed;
  background: rgba(0,0,0,50%);

}

.Camera .overlay .left, .Camera .overlay .right{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Camera .overlay .left{
  right: calc( 50vw + 100px );
}
.Camera .overlay .right{
  left: calc( 50vw + 100px );
}

.Camera .overlay .top, .Camera .overlay .bottom{
  top: 0;
  bottom: 0;
  right: calc( 50vw - 100px );
  left: calc( 50vw - 100px );
}

.Camera .overlay .top{
  bottom: calc( 50vh + 100px );
}
.Camera .overlay .bottom{
  top: calc( 50vh + 100px );
}

.Camera .overlay .window{
  z-index: 41;
  position: fixed;
  border: 2px solid red;
  top: calc( 50vh - 100px );
  bottom: calc( 50vh - 100px );
  right: calc( 50vw - 100px );
  left: calc( 50vw - 100px );
}
*/

/*==================================================*/

.Camera .snap{
  z-index: 30;
  position: fixed;
  bottom: calc( 30px + 10px);
  left: calc( 50vw - 30px - 10px);

  width: 60px;
  height: 60px;
  border-radius: 1000px;

  background: #eeeeee;
  border: 10px solid rgba(30,30,30,50%);

  transition: 100ms all;


}

.Camera:active .snap{
  border: 10px solid rgba(30,30,30,20%);
  /*box-shadow: white 0 0 10px;*/
}

/*==================================================*/

.Camera .tools{
  z-index: 50;
  position: fixed;
  bottom: 20px;
  left: calc( 50vw - 200px);

  width: 400px;

  text-align: center;
}


.Camera .header{
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  
  background-color: aquamarine;

  width: 400px;

  text-align: center;
}