.Camera{
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background: black;
}

.Camera video{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.Camera .DrawCanvas{
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.Camera .Overlay{
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  
  text-align: center;
}

.Camera .Overlay img{
  
  height: 100%;
}


.Camera .snap{
  position: fixed;
  bottom: calc( 30px + 10px);
  left: calc( 50vw - 50px - 10px);

  width: 100px;
  height: 100px;
  border-radius: 1000px;

  background: #eeeeee;
  border: 20px solid rgba(30,30,30,50%);

  transition: 100ms all;


}

.Camera:active .snap{
  border: 20px solid rgba(30,30,30,20%);

}