
.Mobile{

    width: 100%;
      z-index: 40;



    min-height: 100vh;

    text-align: center;
    background-color: #ccc;

    padding-top: 60px;
    padding-bottom: 100px;
}


.Mobile .mobile{
    display: inline-block;
    background-color: black;
    /*border: 2px solid green;*/
    width: calc(80% - 20px);
    padding: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow: black 0 0 20px;
}


.Mobile .mobile .screen{
    background-color: black;
    /*border: 2px solid red;*/
    background-color: black;
    border-radius: 10px;
    width: 100%;
}
